.example-button-row{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 15%;
}
/* Estilos para tornar o Bootstrap semelhante ao Angular Material */

/* Fonte e cor do texto */
body {
    font-family: 'Roboto', sans-serif;
    color: #121212;
}

.tamData{
    width: 210px;
}

.form-control {
    border: none; /* Remover a borda padrão do Bootstrap */
    height: 55px; /* Ajustar a altura conforme necessário */
    width: 100%;
    background-color: var(--mdc-filled-text-field-container-color);
    color: #ffffff; /* Cor branca para o texto dentro do input */
    
}

/* Formatação da Label */
.form-label {
    color: white;
}

/* Bordas e Sombreamento */
.example-full-width {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1); /* Adicionar sombra conforme necessário */
    border-radius: 4px; /* Adicionar bordas arredondadas conforme necessário */
}

.botaoAdd{
    width: 210px;
}
/* Espaçamento e Margens */
div {
    margin-bottom: 16px; /* Adicionar margem inferior conforme necessário */
}

