<div class="row">
    <div class="col col-lg-6 offset-3">
        <div *ngIf="agenda.obterQuantidade() > 0">
            <table class="table table-success table-striped">
                <tr>
                    <th scope="col">Nome</th>
                    <th scope="col">Tel</th>
                    <th scope="col">Aniversário</th>
                    <th scope="col">Tipo</th>
                </tr>
                <tr *ngFor="let pessoa of agenda.obterTodos()">
                    <td>{{pessoa.nome}}</td>
                    <td>{{pessoa.tel}}</td>
                    <td>{{pessoa.aniversario}}</td>
                    <td>{{pessoa.tipo}}</td>
                </tr>
            </table>
        </div>
    </div>
</div>